<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutus_OurServices</title>
    <link rel="stylesheet" href="../static/files/css/bootstrap.css">
    <link rel="stylesheet" href="../static/files/css/style.css">
</head>
<body style="background-color: #222;" class="container-fluid">
    {% include 'navbar.html'%}
    <section>
    <center>
    <h1 class="text-center text-light">ABOUTUS & OURSERVICES</h1>
<section class="row mt-2">
    <div class="col-md-7">
        <!-- image -->
        <img src="../static/files/images/logo (2).PNG" alt="" class="img-fluid" style="width: 100%;height: 100%;">
    </div>
    <div class="col-md-5">
        <h2 class="text-light">shakeupkitchen</h2>
        <p class="text-light">Lorem ipsum, dolor sit amet consectetur 
adipisicing elit. Cumque, eveniet? Debitis, natus. Obcaecati rem 
voluptas sunt provident, itaque adipisci, nostrum doloribus nisi sit 
neque enim labore dignissimos, corporis minima temporibus?</p>
    </div>
</section>
<!-- third section -->
<div class="row mt-2"> 
    <div class="col-md-5 col-lg-4 course-item">
        <div class="course-thumb image-container" style="position: relative;display: inline-block;">
        <img src="../static/files/images/veg.jpeg" alt="" width="300px" height="250px">
        <div class="course-cat btn text-light">
            <span style="padding: 50px; position: absolute; transform: translate(-50%, -50px);font-size: 24px; top: 50%; left: 20%;">Weddings</span>
        </div>
    </div>
    <div class="course-info">
        <p class="text-light">Lorem ipsum dolor sit amet consectetur 
adipisicing elit. Nostrum eveniet deserunt animi nesciunt neque, minus 
facere eum reiciendis commodi totam? Exercitationem error modi 
doloremque recusandae voluptate consequuntur suscipit! Voluptatum, 
dicta?</p>
       </div>
    </div>
    <div class="col-md-5 col-lg-4 course-item">
        <div class="course-thumb image-container" style="position: relative;display: inline-block;">
        <img src="../static/files/images/veg.jpeg" alt="" width="300px" height="250px">
        <div class="course-cat btn text-light">
            <span style="padding: 50px; position: absolute; transform: translate(-50%, -50px);font-size: 24px; top: 50%; left: 20%;">Private Chef</span>
        </div>
    </div>
    <div class="course-info">
        <p class="text-light">Lorem ipsum dolor sit amet consectetur 
adipisicing elit. Nostrum eveniet deserunt animi nesciunt neque, minus 
facere eum reiciendis commodi totam? Exercitationem error modi 
doloremque recusandae voluptate consequuntur suscipit! Voluptatum, 
dicta?</p>
       </div>
    </div>
    <div class="col-md-5 col-lg-4 course-item align-items-center">
        <div class="course-thumb image-container" style="position: relative;display: inline-block;">
        <img src="../static/files/images/veg.jpeg" alt="" width="300px" height="250px">
        <div class="course-cat btn text-light">
            <span style="padding: 50px; position: absolute; transform: translate(-50%, -50px);font-size: 24px; top: 50%; left: 20%;">Offices</span>
        </div>
    </div>
    <div class="course-info">
        <p class="text-light">Lorem ipsum dolor sit amet consectetur 
adipisicing elit. Nostrum eveniet deserunt animi nesciunt neque, minus 
facere eum reiciendis commodi totam? Exercitationem error modi 
doloremque recusandae voluptate consequuntur suscipit! Voluptatum, 
dicta?</p>
       </div>
    </div>
<section>
    <div class="row mt-5 mb-4 justify-content-center"> 
        <div class="col-md-5 col-lg-4 course-item">
            <div class="course-thumb image-container" style="position: relative;display: inline-block;">
            <img src="../static/files/images/veg.jpeg" alt="" width="300px" height="250px">
            <div class="course-cat btn text-light">
                <span style="padding: 50px; position: absolute; transform: translate(-50%, -50px);font-size: 24px; top: 50%; left: 20%;">Small Parties</span>
            </div>
        </div>
        <div class="course-info">
            <p class="text-light">Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Nostrum eveniet deserunt animi nesciunt neque, minus 
    facere eum reiciendis commodi totam? Exercitationem error modi 
    doloremque recusandae voluptate consequuntur suscipit! Voluptatum, 
    dicta?</p>
           </div>
        </div>            
        <div class="col-md-5 col-lg-4 course-item">
            <div class="course-thumb image-container" style="position: relative;display: inline-block;">
            <img src="../static/files/images/veg.jpeg" alt="" width="300px" height="250px">
            <div class="course-cat btn text-light">
                <span style="padding: 50px; position: absolute; transform: translate(-50%, -50px);font-size: 24px; top: 50%; left: 20%;">Huge Parties</span>
            </div>
        </div>
        <div class="course-info">
            <p class="text-light">Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Nostrum eveniet deserunt animi nesciunt neque, minus 
    facere eum reiciendis commodi totam? Exercitationem error modi 
    doloremque recusandae voluptate consequuntur suscipit! Voluptatum, 
    dicta?</p>
           </div>
        </div>
</div>
</section>
</center>
</section>
{% include 'footer.html'%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../static/files/js/bootstrap.js"></script>
</body>
</html>