<section class="row">
<div class="col-md-5">
  <!-- image -->
  <img src="../static/files/images/chef.jpg" alt="" class="img-fluid p-2" style="width: 80%;height: 100%;">
</div>
<div class="col-md-7">
  <h2 class="text-dark">shakeupkitchen</h2>
  <p class="text-dark">Lorem ipsum, dolor sit amet consectetur 
adipisicing elit. Cumque, eveniet? Debitis, natus. Obcaecati rem 
voluptas sunt provident, itaque adipisci, nostrum doloribus nisi sit 
neque enim labore dignissimos, corporis minima temporibus?Click here if you would like to <a href="#bud" class="text-bold text-capitalise text-info">Make A Request</a></p>
<img src="../static/files/images/Top.png" class="img-fluid">
</div>
</section>
<section class="card card-body" id="card">
    <center id="aboutus">
      <div class="col-md-8 text-light">

        <h2>AboutUs</h2>
        <p class="text-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sed deleniti suscipit reiciendis. Dicta magnam eos maiores placeat assumenda sint. Totam nostrum eius aliquid nihil quasi repudiandae blanditiis sapiente fgiat.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident ratione quasi, ipsa deleniti repellat sunt aspernatur at. Maiores rerum eum reiciendis placeat excepturi ab, nihil similique dolore maxime. Neque, nihil.</p>
      </div>
    </center>
    <center>
      <div class="col-md-10">
        <h2>OurServices</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis alias officia suscipit quis minus rem, mollitia, facere illum natus nesciunt libero consequatur et explicabo adipisci. Aspernatur ipsum reprehenderit earum eveniet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates minus aliquid facilis repellendus iste et sit sint similique ipsum animi corrupti, adipisci deleniti hic unde, dolorem sed praesentium nobis? Velit?</p>
      </div>
    </center><br>
    <center>
      <div class="col-md-2">
        <a href="/aboutus" class="btn btn-info text-light" >Read more...</a>
    </div>
  </center>
 </section>
 <section>
    <div class="col-md-11"></div>
    <div class="col-md-5"></div>
 </section>
 <center>
<section class="row p-4">
  <div class="col-md-4">
    <div class="web ">
      <img src="../static/files/images/team3.png"class="img-fluid" height="25px" alt="">
    </div>
    <div class="">
      <h4 class="text-warning">Web Developer</h4>
      <p class="text-info">Phone-No.0792907134</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="com">
      <img src="../static/files/images/team2.png"class="img-fluid" height="25px" alt="">
    </div>
    <div class="">
      <h2 class="text-warning">Company's Owner</h2>
      <!-- <p class="text-info">Phone-No.0792907134</p> -->
    </div>
  </div>
  <div class="col-md-4">
    <div class="cus">
      <img src="../static/files/images/team1.jpg"class="img-fluid" height="25px" alt="">
    </div>
    <div class="">
      <h4 class="text-warning">Customer Care Service</h4>
      <p class="text-info">Phone-No.0792907134</p>
    </div>
  </div>
 </section>
</center>    
<hr>
<div class="container-fluid">
  <section class="row" id="bud">
    <form action="/signup" method="post" style="background-color: rgb(232, 253, 239);" class="form-border"></form>
    <div class="col-md-7">
      <h3 class="text-success  text-center">Enter Your Details For Us To Be In Touch With You</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, vel iure voluptates voluptatem deleniti non est, fugiat id tempore illum eius officiis alias velit? Quidem, sunt quisquam. Debitis, omnis odit.</p>
      <center><div class="col-md-6 p-3">
        <input type="submit" value="Make Your Request" id="order1" class="btn btn-success"><br>
     </div>  
    </center>
    </div>
      <div  class="col-md-5">
          <span class="text-danger"></span>
              <!-- name -->
             <input type="text" name="name" placeholder="Enter Your Name" class="form-control"><br>
             <!-- email -->
             <input type="email" name="email" placeholder="Enter Email Address" class="form-control"><br>
             <!-- phone no. -->
             <input type="tel" name="phone" placeholder="Enter Phone Number eg. +2547******" class="form-control"><br>   
             <center><div class="col-md-6 p-3">
              <input type="submit" value="Make Your Request" id="order2" class="btn btn-success"><br>
           </div>  
          </center>     
        </div>
      </form>
  </section>
</div>