<section class="col-md-12 justify-content-center">
    <!-- carousel -->
    <div class="col-md-12">
                  <div class="carousel slide" data-bs-ride="carousel" id="mycarousel">
                      <!-- indicators -->
                        <ol class="carousel-indicators ">
                          <li class="active" data-bs-target="#mycarousel" data-bs-slide-to="0"></li>
                          <li data-bs-target="#mycarousel" data-bs-slide-to="1"></li>
                          <li data-bs-target="#mycarousel" data-bs-slide-to="2"></li>
                          <li data-bs-target="#mycarousel" data-bs-slide-to="3"></li>
                          <li data-bs-target="#mycarousel" data-bs-slide-to="4"></li>
                        </ol>
                      <!-- carousel inner -contains carousel items -->
                        <div class="carousel-inner">
                           <!-- carousel item 1 -->
                           <div class="carousel-item active" data-bs-interval="3000">
                               <img src="../static/files/images/flambe.webp" class="w-100" alt="" height="390">
                               <div class="carousel-caption">
                                     <h3>Flambe</h3>
                                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, reprehenderit. Sit autem veniam est, molestiae expedita odit facilis. Esse, labore? Aspernatur animi at enim tenetur similique? Quo eum mollitia aspernatur?</p>
                               </div>
                           </div>
                           <div class="carousel-item" data-bs-interval="3000">
                               <img src="../static/files/images/cooking-french-fries-close-frying-fryer-shutterstock_464044346.jpg" class="w-100" alt=""  height="390">
                           <div class="carousel-caption">
                                    <h3>Deep Fry</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, reprehenderit. Sit autem veniam est, molestiae expedita odit facilis. Esse, labore? Aspernatur animi at enim tenetur similique? Quo eum mollitia aspernatur?</p>
                           </div>
                            </div>
                           <div class="carousel-item" data-bs-interval="3000">
                               <img src="../static/files/images/del.jpeg" class="w-100" alt="" height="390">
                               <div class="carousel-caption">
                                    <h3>Marination</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, reprehenderit. Sit autem veniam est, molestiae expedita odit facilis. Esse, labore? Aspernatur animi at enim tenetur similique? Quo eum mollitia aspernatur?</p>
                               </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="3000">
                              <img src="../static/files/images/barb2.jpeg" class="w-100" alt="" height="390">
                              <div class="carousel-caption">
                                   <h3>Barbeque</h3>
                                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, reprehenderit. Sit autem veniam est, molestiae expedita odit facilis. Esse, labore? Aspernatur animi at enim tenetur similique? Quo eum mollitia aspernatur?</p>
                              </div>
                           </div>
                           <div class="carousel-item" data-bs-interval="3000">
                            <img src="../static/files/images/bake.jpeg" class="w-100" alt="" height="390">
                            <div class="carousel-caption">
                                 <h3>Baked</h3>
                                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, reprehenderit. Sit autem veniam est, molestiae expedita odit facilis. Esse, labore? Aspernatur animi at enim tenetur similique? Quo eum mollitia aspernatur?</p>
                            </div>
                         </div>
                          <a href="#mycarousel" class="carousel-control-prev" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span></a>
                          <a href="#mycarousel" class="carousel-control-next" data-bs-slide="next"><span class="carousel-control-next-icon"></span></a>
                         <!-- end of first item -->
                      </div>
                 </div>
    </div>
    <!-- end of carousel -->
    