<!-- footer -->
    <div class="footer text-light bg-dark">
        <section class="container" id="container">
               <div class="row">
                    <span class="ms-3 me-3"><b><i>OUR KITCHEN WILL SEIZE TO SURPRISE YOU WITH SHAKED UP MEALS</i></b></span>
               </div><hr>
               <section class="row justify-content-center col-sm-12">
                <div class="footer-col col-md-4 col-sm-12">
                    <h4>Our Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our services</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footer-col col-md-4 col-sm-12">
                   <h4>Help</h4>
                   <ul>
                   <li><a href="#">Making a Request</a></li>
                   <li><a href="#">Payment Options</a></li>
                   <li><a href="#">Our Operations</a></li>
                   </ul>
                </div>
               <div class="footer-col col-md-12 col-sm-12">
               <h4 class="text-capitalise">follow us</h4>
               <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>                
               </div>
            </div>
        </section>
             <hr>
             <center>
             <p>Developed By Alvin Immanuel Ouma</p>
             <p>Copyright &copy;</p><br>
            </center>
        </section>
    </div>
<!-- end of footer -->
