<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShakeUp</title>
    <!-- supporting css files -->
    <link rel="stylesheet" href="../static/files/css/bootstrap.css">  
     <link rel="stylesheet" href="../static/files/css/style.css">
</head>
<body class="container-fluid">
    {% include 'navbar.html'%}
    {% include 'carousel.html'%}
    {% include 'body.html'%}
    {% include 'footer.html'%}
     <!-- supporting js files -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src="../static/files/js/bootstrap.js"></script>
</body>
</html>