<header role="banner">
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed">
            <div class="container">
                <div>
                <a class="navbar-brand" href="/" style="color:black;
                font-size: x-large;
                ">ShakeUp~kitchen</a>
                <button class="navbar-toggler" type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbar_collapse"
                aria-controls="navbar_collapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navbar_collapse">
                <ul class="navbar-nav ms-auto pl-lg-5 pl-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">HOME</a></li>
                    <li class="nav-item"><a class="nav-link" href="blog.html">BLOG</a></li>
                    <li class="nav-item"><a class="nav-link" href="#aboutus">ABOUTUS&OURSERVICES</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">CONTACTUS</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a  class="dropdown-item" href="#">+254 792 907 134</a></li>
                            <li><a  class="dropdown-item" href="#">shakeupkitchen@gmail.com</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-capitalize" href="#social">our social media platforms</a></li>
                        </ul>
                    </li>
                </li>
                <li class="nav-item"><a class="nav-link" href="referals.html">REFERALS</a></li>
                </ul>
            </div>
            </div>
        </nav>
</header>
Lorem ipsum dolor sit amet consectetur adipisicing elit. In, quam quo quia molestiae recusandae facere eos assumenda, inventore officiis eum cupiditate? Repudiandae totam quas iusto, officiis ab dicta accusamus iste!